* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e0e7f1;
  color: black;
  line-height: 1.6;
}

/* Cabeçalho */
header {
  background-color: #212121;
  color: white;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 90px;
  height: auto;
}

.pesquisa-form {
  display: flex;
  gap: 5px;
}

.pesquisa-form input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.pesquisa-form button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pesquisa-form button:hover {
  background-color: #0056b3;
}

/* Navegação */
nav {
  display: flex;
  justify-content: center;
  margin: 10px 0; /* Espaçamento entre o logo e a navegação */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
}

nav ul a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #007bff;
}

/* Redes sociais */
.redes-sociais-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}

.redes-sociais-container h2 {
  margin: 0 0 5px 0;
  font-size: 1em;
}

.rede-social-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.2s;
}

.rede-social-icon:hover {
  transform: scale(1.2);
}

/* Conteúdo principal */
main {
  padding: 20px;
}

/* Rodapé */
footer {
  background-color: #212121;
  color: white;
  text-align: center;
  padding: 10px;
}

